In [31]:
import psycopg2
import glob

In [32]:
# Remplacez ces valeurs par vos informations de connexion
dbname = 'postgres'
user = 'postgres'
password = 'recommendation_films_oct_23_MLOPS'
host = 'localhost'

In [33]:
sql_file = sorted(glob.glob("./sql/*"))

In [34]:
movie_to_keep = [1,2,23]

In [35]:
def executesql(fichier_sql):
    conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)
    # Créer un objet cursor
    cur = conn.cursor()

    # Ouvrir le fichier SQL et exécuter son contenu
    with open(fichier_sql, 'r') as file:
        # Divise le script en commandes séparées par ';'
        sql_script = file.read()
        commands = sql_script.split(';')

        # Exécute chaque commande individuellement
        for command in commands:
            if command.strip() != '':  # Vérifie si la commande n'est pas vide
                    print(command)
                    cur.execute(command)
                    conn.commit()
    # Fermer la communication avec la base de données
    conn.commit()
    cur.close()
    conn.close()

In [36]:

for file in sql_file:
        print(file)
        executesql(file)

./sql/1-create_database.sql
CREATE TABLE genre (
	genreid serial4 NOT NULL,
	"name" varchar NOT NULL,
	CONSTRAINT genre_pkey PRIMARY KEY (genreid)
)


CREATE TABLE movie (
	movieid serial4 NOT NULL,
	title varchar NOT NULL,
	imdbid int4 NULL,
	tmdbid int4 NULL,
	"year" int4 NULL,
	decade int4 NULL,
	CONSTRAINT movie_pkey PRIMARY KEY (movieid)
)

CREATE TABLE imdb_data (
	movieid int4 NOT NULL,
	titre varchar(255) NULL,
	summary text NULL,
	certificat varchar(50) NULL,
	duration varchar(10) NULL,
	poster text NULL,
	directors varchar(500) NULL,
	writers varchar(500) NULL,
	stars varchar(500) NULL,
	CONSTRAINT imdb_data_pkey PRIMARY KEY (movieid),
	CONSTRAINT imdb_data_movieid_fkey FOREIGN KEY (movieid) REFERENCES movie(movieid)
)

CREATE INDEX movie_decade_idx ON movie USING btree (decade)

CREATE INDEX movie_year_idx ON movie USING btree (year)

CREATE TABLE model_prediction (
	modelid serial4 NOT NULL,
	class_name varchar NULL,
	params varchar NULL,
	mlflow_run_id varchar NULL,
	mlflow_experiment_name varchar NULL,
	start_date timestamp NOT NULL,
	end_date timestamp NULL,
	CONSTRAINT model_prediction_pkey PRIMARY KEY (modelid)
)

CREATE TABLE movie_genre (
	movieid int4 NOT NULL,
	genreid int4 NOT NULL,
	CONSTRAINT movie_genre_pkey PRIMARY KEY (movieid, genreid),
	CONSTRAINT movie_genre_genreid_fkey FOREIGN KEY (genreid) REFERENCES genre(genreid),
	CONSTRAINT movie_genre_movieid_fkey FOREIGN KEY (movieid) REFERENCES movie(movieid)
)

CREATE INDEX movie_genre_movieid_idx ON movie_genre USING btree (movieid)

CREATE TABLE users (
	userid serial4 NOT NULL,
	username varchar NOT NULL,
	"password" varchar NOT NULL,
	is_admin bool DEFAULT false NULL,
	CONSTRAINT username_unique UNIQUE (username),
	CONSTRAINT users_pk PRIMARY KEY (userid)
)

CREATE TABLE rating (
	userid int4 NOT NULL,
	movieid int4 NOT NULL,
	rating float8 NOT NULL,
	"timestamp" int4 NOT NULL,
	"year" int4 NULL,
	decade int4 NULL,
	CONSTRAINT rating_pkey PRIMARY KEY (userid, movieid),
	CONSTRAINT rating_movieid_fkey FOREIGN KEY (movieid) REFERENCES movie(movieid)
)

CREATE INDEX rating_movieid_idx ON rating USING btree (movieid)

CREATE INDEX rating_timestamp_idx ON rating USING btree ("timestamp")

CREATE MATERIALIZED VIEW table_recap_view
TABLESPACE pg_default
AS SELECT m.movieid,
    m.title,
    m.decade,
    m.year,
    string_agg(DISTINCT g.name::text, '|'::text) AS genre,
    avg(r.rating) AS avg_rating,
    count(r.rating) AS nb_rating
   FROM movie m
     JOIN movie_genre mg ON m.movieid = mg.movieid
     JOIN genre g ON g.genreid = mg.genreid
     JOIN rating r ON r.movieid = m.movieid
  GROUP BY m.movieid
 HAVING avg(r.rating) > 2.5::double precision AND count(r.rating) > 100
WITH DATA

CREATE INDEX table_recap_view_avg_rating_idx ON table_recap_view USING btree (avg_rating)

CREATE INDEX table_recap_view_decade_idx ON table_recap_view USING btree (decade)

CREATE INDEX table_recap_view_year_idx ON table_recap_view USING btree (year)
./sql/2-insert_data_genre.sql
INSERT INTO genre ("name") VALUES
	 ('(no genres listed)'),
	 ('Action'),
	 ('Adventure'),
	 ('Animation'),
	 ('Children'),
	 ('Comedy'),
	 ('Crime'),
	 ('Documentary'),
	 ('Drama'),
	 ('Fantasy')

INSERT INTO genre ("name") VALUES
	 ('Film-Noir'),
	 ('Horror'),
	 ('IMAX'),
	 ('Musical'),
	 ('Mystery'),
	 ('Romance'),
	 ('Sci-Fi'),
	 ('Thriller'),
	 ('War'),
	 ('Western')
./sql/3-insert_data_users.sql
INSERT INTO users (username,"password",is_admin) VALUES
--	 ('wagner','$2b$12$FUlmnj5mqb4YWX8jmrLpWeCtwAF2wQEbMQ18NAK/TV9LZAQRewSjS',false),
	 ('admin','$2b$12$513fqyrTLb02sXB8jrqpkeKa1OX.k/sNAC3ym7GaK.ogI57YbH.Jq',true),
	 ('daniel','$2b$12$MYIQ2EMPM0q5Hk4LuoF7h.hZqAGvK4CBOpKePtx2QCqZZLpfuhKC2',false),
--	 ('admin9','$2b$12$NjuJnkhjda5PGAGmaiaqueBVeGv/.fHQZ2Nk0puNMqSBueT2F7yDa',true),
	 ('test_admin','$2b$12$UQqvlaZw.wZM.oMuRewj7enO0dK.fkN43lfijqHkRyWPYLcrWSVd.',true)

--	 ('test2','$2b$12$H/F1.sgFfJCSayXtej77P.lkgmU9SbCYRYzKMzzcTUboKOsc91S2G',true),
--	 ('test3','$2b$12$Sa8uJzHzjCW0Zed4poduleJVSI6s4HPnK187AdvLB4u3qkDkoPUJa',false),
--	 ('test4','$2b$12$FzeuWZmLlW26gutg7rLS2.bHZd49QRuZLbP9EiqQiXj55C8afWNaW',true),
--	 ('test5','$2b$12$LJ2Dl32seQUylSnYZFkWIOKdZ8H9xhxXVvyd.t0fW/OGxFVGBJp8q',false),
--	 ('test6','$2b$12$O.c53mc0C8tvcUhjPhpCLeSF5s65xpsyPwifha0rNEJ/NS7gFpsFm',true),
--	 ('test7','$2b$12$9/axyg4SrQg2zxydsI6AO.AN7WPSKOelRqnb19BKLRm0QHG2Pu62O',false),
--	 ('test8','$2b$12$mKmrEdtybjDBzitzhlGqUup2KJPIoHyEoEvmlR88tkJPOcYXL65oi',true),
--	 ('test9','$2b$12$eI2u.VHXql4vqIBtKakqruzaz7/EHhLwsDrxi5gNpH7ouuSkbmkfO',false),
--	 ('admin11','$2b$12$F63WQati5M8YPtIg4AK3B.8.J9aRuLplhelHoHt2BX55Fc4Q21FRq',true),
--	 ('admin22','$2b$12$.v04Jrv9NMOsBxPbLRzBkOWIjSv5TOUKRSkc.JcG845V3w03GIgrq',true),
--	 ('admin33','$2b$12$Et5EkE3RK36XQLgBdWUMNu3MHeZY0lWAXxnSIJ.FWJcQbK7zDk3au',true)
INSERT INTO users (userid,username,"password",is_admin) VALUES
	 (999999,'test1','$2b$12$.NwkC54PX5xfzqpV6zAzMuYHX2xm7r1vsp9fZ4SUVELP1ZM2/Ut1O',false)
./sql/4-insert-imdb-data.sql

In [37]:
import pandas as pd

In [38]:
rating = pd.read_csv("./ml-latest-small/ratings.csv")
movie = pd.read_csv("./ml-latest-small/movies.csv")
link= pd.read_csv("./ml-latest-small/links.csv")

In [39]:
import numpy as np
import re

In [40]:
movie=movie.merge(link,on="movieId")
movie=movie.replace(np.nan,"")

In [41]:
def get_year(row):
    title = row["title"]
    match = re.search(r'\((\d{4})\)', title)
    year = int(match.group(1)) if match else 0
    return year
def get_decade(row):
    year = int(row["year"])
    return (year//10)*10

movie['year'] = movie.apply(get_year,axis=1)
movie['decade'] = movie.apply(get_decade,axis=1)

In [42]:
movie

,movieId,title,genres,imdbId,tmdbId,year,decade
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1995,1990
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,1995,1990
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,1995,1990
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0,1995,1990
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0,1995,1990
...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0,2017,2010
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0,2017,2010
9739,193585,Flint (2017),Drama,6397426,479308.0,2017,2010
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0,2018,2010
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0,1991,1990

In [43]:
movie = movie[movie['decade'] == 1990 ].head(30)

In [44]:
movie

,movieId,title,genres,imdbId,tmdbId,year,decade
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1995,1990
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,1995,1990
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,1995,1990
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0,1995,1990
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0,1995,1990
5,6,Heat (1995),Action|Crime|Thriller,113277,949.0,1995,1990
6,7,Sabrina (1995),Comedy|Romance,114319,11860.0,1995,1990
7,8,Tom and Huck (1995),Adventure|Children,112302,45325.0,1995,1990
8,9,Sudden Death (1995),Action,114576,9091.0,1995,1990
9,10,GoldenEye (1995),Action|Adventure|Thriller,113189,710.0,1995,1990
10,11,"American President, The (1995)",Comedy|Drama|Romance,112346,9087.0,1995,1990
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,112896,12110.0,1995,1990
12,13,Balto (1995),Adventure|Animation|Children,112453,21032.0,1995,1990
13,14,Nixon (1995),Drama,113987,10858.0,1995,1990
14,15,Cutthroat Island (1995),Action|Adventure|Romance,112760,1408.0,1995,1990
15,16,Casino (1995),Crime|Drama,112641,524.0,1995,1990
16,17,Sense and Sensibility (1995),Drama|Romance,114388,4584.0,1995,1990
17,18,Four Rooms (1995),Comedy,113101,5.0,1995,1990
18,19,Ace Ventura: When Nature Calls (1995),Comedy,112281,9273.0,1995,1990
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,113845,11517.0,1995,1990
20,21,Get Shorty (1995),Comedy|Crime|Thriller,113161,8012.0,1995,1990
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,112722,1710.0,1995,1990
22,23,Assassins (1995),Action|Crime|Thriller,112401,9691.0,1995,1990
23,24,Powder (1995),Drama|Sci-Fi,114168,12665.0,1995,1990
24,25,Leaving Las Vegas (1995),Drama|Romance,113627,451.0,1995,1990
25,26,Othello (1995),Drama,114057,16420.0,1995,1990
26,27,Now and Then (1995),Children|Drama,114011,9263.0,1995,1990
27,28,Persuasion (1995),Drama|Romance,114117,17015.0,1995,1990
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,112682,902.0,1995,1990
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,115012,37557.0,1995,1990

In [45]:
rating = rating[ rating.movieId.isin( movie.movieId)]

In [46]:
set(rating['movieId'])

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30}

In [47]:
import re

def insert_sql_movie(row):
    with psycopg2.connect(dbname=dbname, user=user, password=password, host=host) as conn:
        with conn.cursor() as cur:
            insert_query = """INSERT INTO movie (movieid, title, imdbid, tmdbid, year, decade)
            VALUES (%s, %s, %s, %s, %s, %s);
            """
            title = row["title"]
            match = re.search(r'\((\d{4})\)', title)
            year = int(match.group(1)) if match else None
            decade = (year // 10) * 10 if year else None
            
            # It's a good idea to check if year is None before proceeding
            if year is None:
                # Handle the case where the year couldn't be extracted
                print(f"Year could not be extracted for title: {title}")
                return

            data_to_insert = (
                int(row["movieId"]),
                row["title"],
                row["imdbId"],
                row["tmdbId"] if row["tmdbId"] else None,
                year,
                decade
            )
            cur.execute(insert_query, data_to_insert)

In [48]:
def insert_sql_rating(row):
    try:
        # Utilisation de gestionnaires de contexte pour la connexion et le curseur
        with psycopg2.connect(dbname=dbname, user=user, password=password, host=host) as conn:
            with conn.cursor() as cur:
                insert_query = """INSERT INTO rating (userid, movieid, rating, timestamp)
                                  VALUES (%s, %s, %s, %s);"""
                data_to_insert = (
                    int(row["userId"]),
                    int(row["movieId"]),  # Assurez-vous que movieId est également un entier
                    row["rating"],
                    row["timestamp"]
                )
                cur.execute(insert_query, data_to_insert)
    except Exception as e:
        # Gestion des erreurs en affichant un message d'erreur
        print(f"An error occurred: {e}")
        return 1
    return 0

In [49]:
movie.apply(insert_sql_movie,axis=1)

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
dtype: object

In [50]:
rating.apply(insert_sql_rating,axis=1)

0        0
1        0
2        0
300      0
516      0
        ..
99497    0
99498    0
99534    0
99535    0
99536    0
Length: 1464, dtype: int64

In [51]:
with psycopg2.connect(dbname=dbname, user=user, password=password, host=host) as conn:
            with conn.cursor() as cur:
                query = """select * from genre;"""
                cur.execute(query=query)
                rows = cur.fetchall()
                movie_genres = pd.DataFrame()
                for row in rows:
                    movie_genre = movie[ movie['genres'].str.contains(row[1], case=False, na=False)][["movieId"]]
                    movie_genre["genreId"]=[row[0]]*len(movie_genre)
                    movie_genres=pd.concat((movie_genres,movie_genre),axis=0)

/var/folders/y5/xr83lb_x16b7sc28gss89mrm0000gn/T/ipykernel_51904/982665775.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  movie_genre = movie[ movie['genres'].str.contains(row[1], case=False, na=False)][["movieId"]]

In [52]:
movie_genres

    movieId  genreId
5         6      2.0
8         9      2.0
9        10      2.0
14       15      2.0
19       20      2.0
..      ...      ...
9        10     18.0
19       20     18.0
20       21     18.0
21       22     18.0
22       23     18.0

[75 rows x 2 columns]

In [53]:
def insert_sql_genre(row):
    try:
        with psycopg2.connect(dbname=dbname, user=user, password=password, host=host) as conn:
            with conn.cursor() as cur:
                insert_query = """INSERT INTO movie_genre ( movieid, genreid)
                                  VALUES (%s, %s);"""
                cur.execute(insert_query,(int(row["movieId"]),int(row['genreId'])))
    except Exception:
        print(
              (
               int(row["movieId"]),
               int(row['genreId'])
               )
              )

movie_genres.apply(insert_sql_genre,axis=1)

5     None
8     None
9     None
14    None
19    None
      ...
9     None
19    None
20    None
21    None
22    None
Length: 75, dtype: object

In [54]:
#Refresh de la vue table_recap_view
try:
    with psycopg2.connect(dbname=dbname, user=user, password=password, host=host) as conn:
        with conn.cursor() as cur:
            refresh_query = """REFRESH MATERIALIZED VIEW table_recap_view;"""
            cur.execute(refresh_query)
except Exception as e:
    print("Error for refresh Table Recap {e}")

In [ ]:
for movieid in set(movie["movieId"]):
    try:
        with psycopg2.connect(dbname=dbname, user=user, password=password, host=host) as conn:
            with conn.cursor() as cur:
                refresh_query = f"""INSERT INTO imdb_data
                                (movieid, titre, summary, certificat, duration, poster, directors, writers, stars)
                                VALUES({movieid}, '', '', '', '', '', '', '', '');"""
                cur.execute(refresh_query)
    except Exception as e:
        print("Error for refresh Table Recap {e}")